body {
	background-color: #035D00;
	line-height: 30px;
	margin: 0 auto;
}
header {
	
	padding: 20px;
	margin: 40px;
	display: inline-block;
	border: 4px solid black;
	background-color: yellow;
	
}

.logo {
	
	
	
}
h1 {
	
	transform: translateX(16px) translateY(15px);
	
	
	}

.row {
	
	width: 400px;
	margin: 0 auto;
	transform: translateX(150px) translateY(-200px);
	
}

.row:after{
	content: '';
	display: table;
	clear: both;
	
}

.col.blog {
	border: 4px solid black;
	padding: 20px;
	background-color: purple;
	float: left;
	margin-left: 20px;
	width: 120px;
	box-sizing: border-box;
	text-align: center;
}

.col:first-child{
	margin-left: 0;
}

.row2 {
	
	width: 400px;
	margin: 0 auto;
	
}

.row2:after{
	content: '';
	display: table;
	clear: both;
	
}

.col2 {
	border: 4px solid black;
	padding: 2px;
	background-color: purple;
	float: left;
	margin-left: 20px;
	width: 100px;
	height: 40px;
	margin-bottom: 10px;
	box-sizing: border-box;
	text-align: center;
	font-size: 15px

}

.col2:first-child{
	margin-left: 0;
	text-align: center;
}
footer {
	text-align: center;
}


h2,h3{
	text-align: center;
	size: 30px;
	color: white;
	margin-top: 0;
}
.about {
	text-align: center;
	size: 20px;
	color: lightgrey;
	margin-top: 0;
}