body {
	background-color: #675669;
	line-height: 30px;
	margin: 0 auto;
	border: 2px solid #ecc6f4;
	
}
.dark-mode {
  background-color: black;
  color: white;
}
header {
	
	padding: 20px;
	margin: 40px;
	display: inline-block;
	
	background-color: #ecc6f4;
	font-family: 'Indie Flower', cursive;
	box-shadow: 4px 2px 2px rgba(163 , 137 , 169 , .5);
	
}

.logo {
	
	
	
}
h1 {
	
	transform: translateX(16px) translateY(15px);
	
	
	}

.row {
	
	width: 1000px;
	margin: 0 auto;
	transform: translateX(160px) translateY(-200px);

	
}

.row:after{
	content: '';
	display: table;
	clear: both;
	
}

.col {
	
	padding: 10px;
	background-color: #f4c6e5;
	float: left;
	margin-left: 20px;
	width: 150px;
	box-sizing: border-box;
	text-align: center;
	font-family: 'Caveat', cursive;
	box-shadow: 5px 2px 2px rgba(183 , 148 , 171, .4);
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
}

.col:first-child{
	margin-left: 0;
}

.row2 {
	
	width: 400px;
	margin: 0 auto;
	
}

.row2:after{
	content: '';
	display: table;
	clear: both;
	
}

.col2 {
	color: black;
	padding: 2px;
	background-color: #f4c6e5;
	float: left;
	margin-left: 20px;
	width: 100px;
	height: 40px;
	margin-bottom: 10px;
	box-sizing: border-box;
	text-align: center;
	font-size: 15px;
	font-family: 'Caveat', cursive;
	box-shadow: 5px 2px 2px rgba(183 , 148 , 171, .4);
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;

}

.col2:first-child{
	margin-left: 0;
	text-align: center;
}
footer {
	text-align: center;
	font-family: 'Architects Daughter', cursive;
	text-decoration: none;
}
.blog {
	color: black;

}
.blog:hover{
	color:green;
}
.blog2 {
	color: black;

}
.blog2:hover{
	color:purple;
}
h2,h3{
	text-align: center;
	size: 30px;
	color: white;
	margin-top: 0;
	font-family: 'Merienda', cursive;
	position: relative;

}
.about {
	text-align: center;
	size: 20px;
	color: lightgrey;
	margin-top: 0;
	font-family: 'Gloria Hallelujah', cursive;
}
.about1 {
	outline: 5px solid rgba(187 , 221 , 238 , .7);
	text-align: center;
	padding: 2px 2px;
	margin: 10px 30px;
}
.img1 {
	outline: 5px solid rgba(238 , 204 , 187 , .7);
	text-align: center;
	padding: 2px 2px;
	margin: 10px 30px;
	height: 1000px;
	
}
.wrapper {
	width: 960px;
	margin: 0 auto;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
}
span:after{
	content: "/";
}

.popup {
	display: none;
	position: fixed;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

.popup.show{
	display: block;
}

.popup .blanket{
	background-color: black;
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
}

.popup .content{
	box-sizing: border-box;
	padding: 30px 40px;
	width: 760px;
	height: 340px;
	background-color: #66b868;
	text-align: center;
	position: absolute;
	left: 60%;
	top: 60%;
	margin-top: -270px;
	margin-left: -480px;

}

.popup .close {
	width: 80px;
	height: 80px;
	background: red url(close.jpg) no-repeat center center;
	background-size: 100%;
	position: absolute;
	top: -40px;
	right: -40px;
	border-radius: 50%;
	outline: none;
	border: none;
	overflow: hidden;
	text-indent: -999px;
	cursor: pointer;

}

.popup .social {
	padding: 10px;
	background-color: #c76ec3;
	float: left;
	margin-left: 20px;
	width: 120px;
	box-sizing: border-box;
	text-align: center;
	box-shadow: 5px 2px 2px rgba(110 , 61 , 108 , .4);
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	transform: translateX(100px) translateY(100px);
	font-family: 'Henny Penny', cursive;
}
.social {
	text-decoration: none;
	color: black;
	font-family: 'Henny Penny', cursive;
}

.g {
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-weight: bold;
}

.h {
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-weight: bold;
}

.g:hover {
	color: green;
}

.h:hover {
	color: green;
}

/*.bswirl {
	transform: translateY(25px);
	padding-top: 5px;
	padding-bottom: 2px;
	margin-top: 5px;
	margin-bottom: 2px;
}

.world {
	transform: translateY(10px);
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.board {
	transform: translateY(5px);
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.hocuspocus {
	transform: translateY(-25px);
	padding-top: 5px;
	padding-bottom: 2px;
	margin-top: 5px;
	margin-bottom: 2px;
}

.cup {
	transform: translateY(-30px);
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.tray {
	transform: translateY(-35px);
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.hp {
	transform: translateY(10px);
	padding-top: 5px;
	padding-bottom: 2px;
	margin-top: 5px;
	margin-bottom: 2px;
}

.battle {
	transform: translateY(10px);
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.tray1 {
	transform: translateY(5px);
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.colorswirl {
	transform: translateY(-25px);
	padding-top: 5px;
	padding-bottom: 2px;
	margin-top: 5px;
	margin-bottom: 2px;
}

.star {
	transform: translateY(-30px);
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.tray2 {
	transform: translateY(-35px);
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}*/

.LI-profile-badge{
	transform: translateX(500px);
	padding-top: 5px;
	padding-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.img {
	position: relative;
	color: lightgrey;
	font-family: 'Gloria Hallelujah', cursive;
	
}
/*.piccat1 {
	padding-top: 5px;
	margin-top: 5px;
	position: absolute;
	
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.piccat2 {
	padding-top: 5px;
	margin-top: 5px;
	position: absolute;
	
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.piccat3 {
	padding-top: 30px;
	margin-top: 30px;
	position: absolute;
	
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 5px;
	margin-right: 5px;
}*/



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ecc6f4;
  border-radius: 5px;
}

/*.dm{
  background-color: black;
  text-align: center;
  width: 150px;
  height: 150px;
}
*/



/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
	transform: translateX(-600px);
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row3:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*
		<img class="battle" src="img/hocuspocus.png" width="250" height="250" alt="hocuspocus">
	<img class="star" src="img/hp.jpg" width="250" height="250" alt="hp">
	<br>
	<img class="board" src="img/colorswirl.png" width="250" height="250" alt="colorswirl">
	<img class="tray" src="img/911.png" width="150" height="150" alt="9/11">

/*