body {
	background-color: #675669;
	line-height: 30px;
	margin: 0 auto;
	border: 2px solid #ecc6f4;
}
header {
	
	padding: 20px;
	margin: 40px;
	display: inline-block;
	
	background-color: #ecc6f4;
	font-family: 'Indie Flower', cursive;
	box-shadow: 4px 2px 2px rgba(163 , 137 , 169 , .5);
	
}

.logo {
	
	
	
}
h1 {
	
	transform: translateX(16px) translateY(15px);
	
	
	}

.row {
	
	width: 1000px;
	margin: 0 auto;
	transform: translateX(160px) translateY(-200px);

	
}

.row:after{
	content: '';
	display: table;
	clear: both;
	
}

.col {
	
	padding: 10px;
	background-color: #f4c6e5;
	float: left;
	margin-left: 20px;
	width: 150px;
	box-sizing: border-box;
	text-align: center;
	font-family: 'Caveat', cursive;
	box-shadow: 5px 2px 2px rgba(183 , 148 , 171, .4);
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
}

.col:first-child{
	margin-left: 0;
}

.popup {
	display: none;
	position: fixed;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

.popup.show{
	display: block;
}

.popup .blanket{
	background-color: black;
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
}

.popup .content{
	box-sizing: border-box;
	padding: 30px 40px;
	width: 760px;
	height: 340px;
	background-color: #66b868;
	text-align: center;
	position: absolute;
	left: 60%;
	top: 60%;
	margin-top: -270px;
	margin-left: -480px;

}

.popup .close {
	width: 80px;
	height: 80px;
	background: red url(close.jpg) no-repeat center center;
	background-size: 100%;
	position: absolute;
	top: -40px;
	right: -40px;
	border-radius: 50%;
	outline: none;
	border: none;
	overflow: hidden;
	text-indent: -999px;
	cursor: pointer;

}

.popup .social {
	padding: 10px;
	background-color: #c76ec3;
	float: left;
	margin-left: 20px;
	width: 120px;
	box-sizing: border-box;
	text-align: center;
	box-shadow: 5px 2px 2px rgba(110 , 61 , 108 , .4);
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	transform: translateX(100px) translateY(100px);
}
.social {
	text-decoration: none;
	color: black;
}

.g {
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-weight: bold;
}

.h {
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-weight: bold;
}

.g:hover {
	color: green;
}

.h:hover {
	color: green;
}

.img1 {
	outline: 5px solid rgba(238 , 204 , 187 , .7);
	text-align: center;
	padding: 2px 2px;
	margin: 10px 30px;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
}
span:after{
	content: "/";
}

.row2 {
	
	width: 400px;
	margin: 0 auto;
	
}

.row2:after{
	content: '';
	display: table;
	clear: both;
	
}

.col2 {
	color: black;
	padding: 2px;
	background-color: #f4c6e5;
	float: left;
	margin-left: 20px;
	width: 100px;
	height: 40px;
	margin-bottom: 10px;
	box-sizing: border-box;
	text-align: center;
	font-size: 15px;
	font-family: 'Caveat', cursive;
	box-shadow: 5px 2px 2px rgba(183 , 148 , 171, .4);
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;

}

.col2:first-child{
	margin-left: 0;
	text-align: center;
}
footer {
	text-align: center;
	font-family: 'Architects Daughter', cursive;
	text-decoration: none;
}
.blog {
	color: black;

}
.blog:hover{
	color:green;
}
.blog2 {
	color: black;

}
.blog2:hover{
	color:purple;
}
h2,h3{
	text-align: center;
	size: 30px;
	color: white;
	margin-top: 0;
	font-family: 'Merienda', cursive;

}